{
    "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
    "plugins": ["stylelint-prettier"],
    "printWidth": 100,
    "trailingComma": "all",
    "singleQuote": false,
    "arrowParens": "always"
  }